<?xml version="1.0" encoding="UTF-8"?>

<web-app  
xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">

	<display-name>Customer Rest Service</display-name>

	<servlet>
		<servlet-name>customerrestservice</servlet-name>
		<servlet-class>MyPracticals.Practical4.CustomerRestService</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>customerrestservice</servlet-name>
		<url-pattern>/customer</url-pattern>
	</servlet-mapping>
	
</web-app>